body {
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}
.card {
  width: 18rem;
  padding-top: 20px;
  top: 50px;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin: auto;
}
